[submodule "meta/dotbot"]
	path = meta/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "shells/zsh/oh-my-zsh"]
    path = shells/zsh/oh-my-zsh
    url = https://github.com/robbyrussell/oh-my-zsh
