[submodule "meta/dotbot"]
	path = meta/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "shells/zsh/oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = shells/zsh/oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "shells/zsh/oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = shells/zsh/oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
